@page "/GetPosition"
@using HRLeaveManagement.WebApp.Services
@inject IPositionService IPosition

<h3>Employee Job Experience</h3>

@if (_positions == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>NO</th>
                <th>Title</th>
                <th>Experience Level</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in _positions)
            {
                <tr>
                    <td>@request.PositionId</td>
                    <td>@request.Title</td>
                    <td>@request.JobLevel</td>
                    <td>@request.IsActive</td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<HRLeaveManagement.Application.Features.Position.PositionDto> _positions;

    protected override async Task OnInitializedAsync()
    {
        _positions = await IPosition.Get();
    }
}
